.table{
    display: table;
}

.table .row{
    display: table-row;
}

.table .cellL{
    display: table-cell;
    border: 1px solid #000000;
    text-align: left;
    vertical-align: middle;
    padding: 0.5em;
}

.table .cellC{
    display: table-cell;
    border: 1px solid #000000;
    text-align: center;
    vertical-align: middle;
    padding: 0.5em;
}

.table .cellR{
    display: table-cell;
    border: 1px solid #000000;
    text-align: right;
    vertical-align: middle;
    padding: 0.5em;
}

/*波線*/
.wavyline{
    text-decoration: underline;
    text-decoration-style: wavy;
}

/*改行なし*/
.nowrap{
    white-space: nowrap;
}

/*メイリオ*/
p{
    font-family:'メイリオ', 'Meiryo','ＭＳ ゴシック','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3',sans-serif;
}

/*MSPゴシック*/
h2{
    font-family:'メイリオ', 'Meiryo','ＭＳ ゴシック','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3',sans-serif;
}

/*テキストボックス*/
.txtbox{
    width: 100em;
    max-width: 100%;
}